.image-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin: 0;
}

.text-none-info {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.border-rounded-2 {
  border: 1px solid #dddada !important;
  padding: 10px;
  border-radius: 15px;
}

.payment-info {
  text-align: center;
  font-size: 20px;
  color: #9e9d9d;
  margin: 5px;
}

.color-purchase {
  color: #dddada;
}

.position {
  height: 200px !important;
}

.position-fixed {
  margin-top: 20px;
}
