<div class="overflow-auto">
  <div class="page-wrapper">
    <!-- Header -->
    <header class="header header-fixed style-1">
      <div class="header-content">
        <div class="mid-content"><h5 class="title">Detalle de financiamiento</h5></div>
      </div>
    </header>
    <!-- Header -->

    <!-- Main Content Start -->
    <main class="page-content space-top">
      <div class="container p-2">
        <div class="image-container">
          <img
            src="../../../../assets/imagenes/check-yellow.png"
            alt="Chekout"
            width="120"
          />
        </div>
        <br />
        <div class="text-none-info">
          <h6 class="mb-3">Financiamiento realizado con Exito!</h6>
        </div>

        <div class="ic-box style-3 m-b10 border-rounded-2">
          <div class="main-profile">
            <div class="media">
              <h4 class="name mb-0">Monto</h4>
            </div>
          </div>
          <div class="content-box">
            <p class="payment-info">{{+amountPurchase | formatCurrency}}</p>
          </div>
        </div>

        <div class="ic-box style-2 rounded-md mt-auto border-rounded-2">
          <div class="title-head">
            <h6 class="title" align="center">Datos de referencia</h6>
          </div>
          <div class="view-cart">
            <ul>
              <li>
                <span class="name">Id. Consumo</span>
                <span class="about">{{idPurchase }}</span>
              </li>
              <li>
                <span class="name">Fecha de consumo</span>
                <span class="about">{{today | date: 'dd/MM/yyyy'}}</span>
              </li>
              <li>
                <span class="name">Fecha de corte</span>
                <span class="about">{{cutDate | date: 'dd/MM/yyyy'}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <br /><br />
    <div class="text-none-info">
      <a
        [routerLink]="['/admin/dashboard/sarys']"
        class="btn px-3 btn-thin rounded btn-secondary w-150"
        ><i class="fa-sharp text-primary fa-solid fa-check-circle font-15"></i
        >Finalizar</a
      >
    </div>
    <br /><br /><br /><br /><br />
  </div>
  <app-tab></app-tab>
</div>
