.btn-link-active {
  font-size: 12px;
  color: var(--primary);
  text-decoration: underline;
}

.input-error {
  border: 2px solid red !important;
}
.input-success {
  border: 2px solid rgb(57, 225, 57) !important;
}
.no-select {
  user-select: none;
}
.invalid-input {
  border: 2px solid red !important;
  background-color: #f8d7da;
}

.full-height .page-content .container {
  height: 100vh;
}

select#prefix {
  height: 100%;
  background: white;
  border-radius: 0 !important;
  border-left: 0px !important;
  border-right: 0px !important;
  transition: 0.5s;
  .input-group:focus-within & {
    border-color: #ffb000 !important;
  }
}

.input-group:has(select:focus) input {
  border-color: #ffb000 !important;
}
.checkbox-error {
    border-color: #dc3545 !important; /* Rojo estándar de error */
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25); /* Sombra roja opcional */
}