<div class="overflow-auto">
  <div class="page-wrapper">
    @if(showSpinner){
    <app-spinner />
    }
    <!-- Header -->
    <header class="header header-fixed style-1">
      <div class="header-content">
        <div class="left-content">
          <a
            [routerLink]="['/admin/ocr-preview/data/scan']"
            class="back-btn ic-icon icon-sm"
          >
            <i class="feather icon-arrow-left"></i>
          </a>
        </div>
        <div class="mid-content"><h5 class="title">Emisión</h5></div>
      </div>
    </header>
    <!-- Header -->

    <!-- Main Content Start -->
    <main class="page-content space-top p-b70">
      <div class="container px-2 pb-2">
        <div class="ic-list m-b20">
          <div class="card style-2">
            <label class="card-body vehicleOwnership">
              <input
                type="checkbox"
                [(ngModel)]="vehicleOwnership"
                (change)="onVehicleOwnershipChange()"
              />
              <span class="list-content">
                <span>¿Registrar vehículo propio?</span>
              </span>
              <span class="ic-icon icon-lg icon-primary">
                <svg
                  class="w-6 h-6 text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-width="2"
                    d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                  />
                </svg>
              </span>
            </label>
          </div>
        </div>

        <form
          class="ic-form-group"
          [formGroup]="emissionForm"
          autocomplete="off"
        >
          <div class="card style-2" formGroupName="pagador">
            <div class="card-header">
              <h6 class="card-title">Datos del Pagador</h6>
            </div>
            <div class="card-body">
              <div class="m-b15 input-group input-lg input-rounded">
                <input
                  [ngClass]="{'invalid-input': pagadorNombre.invalid && (pagadorNombre.dirty || pagadorNombre.touched)}"
                  type="text"
                  id="nombre_pagador"
                  class="form-control"
                  placeholder="Nombre"
                  name="nombre_pagador"
                  formControlName="nombre"
                />
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <input
                  [ngClass]="{'invalid-input': pagadorApellido.invalid && (pagadorApellido.dirty || pagadorApellido.touched)}"
                  type="text"
                  id="apellido_pagador"
                  class="form-control"
                  placeholder="Apellido"
                  name="apellido_pagador"
                  formControlName="apellido"
                />
              </div>
              <div
                class="m-b20 input-group input-lg input-group-icon input-rounded"
              >
                <div class="input-group-text">
                  <select id="prefijo" name="prefijo" formControlName="prefijo">
                    <option value="V">V</option>
                    <option value="E">E</option>
                    <option value="J">J</option>
                  </select>
                </div>
                <input
                  type="text"
                  formControlName="cedula"
                  [ngClass]="{'invalid-input': pagadorCedula.invalid && (pagadorCedula.dirty || pagadorCedula.touched)}"
                  value=""
                  inputmode="numeric"
                  class="form-control"
                  placeholder="Documento de identidad"
                  mask="separator.2"
                  thousandSeparator="."
                />
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <select
                  [ngClass]="{'invalid-input': pagadorGenero.invalid && (pagadorGenero.dirty || pagadorGenero.touched)}"
                  id="genero_pagador"
                  class="form-control"
                  name="genero_pagador"
                  formControlName="genero"
                  title="Seleccione Género"
                >
                  <option [value]="null">Seleccione Género</option>
                  @for(genero of generosOptions; track $index) {
                  <option [value]="genero.id_parentesco">
                    {{genero.sexo}}
                  </option>
                  }
                </select>
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <select
                  [ngClass]="{'invalid-input': pagadorEstadoCivil.invalid && (pagadorEstadoCivil.dirty || pagadorEstadoCivil.touched)}"
                  id="estado_civil_pagador"
                  class="form-control"
                  name="estado_civil_pagador"
                  formControlName="estadoCivil"
                  title="Seleccione Estado Civil"
                >
                  <option [value]="null">Seleccione Estado Civil</option>
                  @for(estadoCivil of estadoCivilOptions; track $index) {
                  <option [value]="estadoCivil.id_estado_civil">
                    {{estadoCivil.estado_civil1}}
                  </option>
                  }
                </select>
              </div>
          
              <div class="m-b15 input-group input-lg input-rounded">
                <div class="dropdown w-100">
                  <input
                    [ngClass]="{'invalid-input': pagadorEstado.invalid && (pagadorEstado.dirty || pagadorEstado.touched)}"
                    type="text"
                    id="estado_pagador"
                    class="form-control"
                    placeholder="Estado"
                    name="estado_pagador"
                    formControlName="estado"
                    [ngClass]="{'dropdown-toggle': true}"
                    data-bs-toggle="dropdown"
                    autocomplete="off"
                    (input)="filterEstados($event, 'pagador')"
                  />
                  <ul class="dropdown-menu w-100">
                    @for(estado of filteredEstadosOptions; track
                    estado.id_estado) {
                    <li>
                      <a
                        class="dropdown-item"
                        (click)="selectEstado(estado, 'pagador')"
                        >{{estado.estado1}}</a
                      >
                    </li>
                    } @if(filteredEstadosOptions.length === 0) {
                    <li>
                      <a class="dropdown-item"
                        >Escribe para buscar, sin resultados</a
                      >
                    </li>
                    }
                  </ul>
                </div>
              </div>

              <div class="m-b15 input-group input-lg input-rounded">
                <div class="dropdown w-100">
                  <input
                    [ngClass]="{'invalid-input': pagadorCiudad.invalid && (pagadorCiudad.dirty || pagadorCiudad.touched)}"
                    type="text"
                    id="ciudad_pagador"
                    class="form-control"
                    placeholder="Ciudad"
                    name="ciudad_pagador"
                    formControlName="ciudad"
                    [ngClass]="{'dropdown-toggle': true}"
                    data-bs-toggle="dropdown"
                    autocomplete="off"
                    (input)="filterCiudades($event, 'pagador')"
                  />
                  <ul class="dropdown-menu w-100">
                    @for(ciudad of filteredCiudadesOptions; track
                    ciudad.id_ciudad) {
                    <li>
                      <a
                        class="dropdown-item"
                        (click)="selectCiudad(ciudad, 'pagador')"
                        >{{ciudad.ciudad1}}</a
                      >
                    </li>
                    } @if(filteredCiudadesOptions.length === 0) {
                    <li>
                      <a class="dropdown-item"
                        >Escribe para buscar, sin resultados</a
                      >
                    </li>
                    }
                  </ul>
                </div>
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <input
                  [ngClass]="{'invalid-input': pagadorDireccion.invalid && (pagadorDireccion.dirty || pagadorDireccion.touched)}"
                  type="text"
                  id="direccion_pagador"
                  class="form-control"
                  placeholder="Dirección"
                  name="direccion_pagador"
                  formControlName="direccion"
                />
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <input
                  [ngClass]="{'invalid-input': pagadorEmail.invalid && (pagadorEmail.dirty || pagadorEmail.touched)}"
                  type="email"
                  id="email_pagador"
                  class="form-control"
                  placeholder="Email"
                  name="email_pagador"
                  formControlName="email"
                />
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <input
                  [ngClass]="{'invalid-input': pagadorTelefono.invalid && (pagadorTelefono.dirty || pagadorTelefono.touched)}"
                  type="tel"
                  id="telefono_pagador"
                  class="form-control"
                  placeholder="Teléfono"
                  name="telefono_pagador"
                  formControlName="telefono"
                  mask="(999) 999-9999"
                  prefix="+58 "
                  inputmode="numeric"
                />
              </div>
            </div>
          </div>

          @if (!vehicleOwnership) {
          <div class="card style-2" formGroupName="titular">
            <div class="card-header">
              <h6 class="card-title">Datos del Titular</h6>
            </div>
            <div class="card-body">
              <div class="m-b15 input-group input-lg input-rounded">
                <input
                  [ngClass]="{'invalid-input': titularNombre.invalid && (titularNombre.dirty || titularNombre.touched)}"
                  type="text"
                  id="nombre_titular"
                  class="form-control"
                  placeholder="Nombre"
                  name="nombre_titular"
                  formControlName="nombre"
                />
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <input
                  [ngClass]="{'invalid-input': titularApellido.invalid && (titularApellido.dirty || titularApellido.touched)}"
                  type="text"
                  id="nombre_titular"
                  class="form-control"
                  placeholder="Apellido"
                  name="apellido_titular"
                  formControlName="apellido"
                />
              </div>
              <div
                class="m-b20 input-group input-lg input-group-icon input-rounded"
              >
                <div class="input-group-text">
                  <select id="prefijo" name="prefijo" formControlName="prefijo">
                    <option value="V">V</option>
                    <option value="E">E</option>
                    <option value="J">J</option>
                  </select>
                </div>
                <input
                  type="text"
                  [ngClass]="{'invalid-input': titularCedula.invalid && (titularCedula.dirty || titularCedula.touched)}"
                  formControlName="cedula"
                  value=""
                  inputmode="numeric"
                  class="form-control"
                  placeholder="Documento de identidad"
                  mask="separator.2"
                  thousandSeparator="."
                />
              </div>
              <!-- <div class="m-b15 input-group input-lg input-rounded">
                <input
                  [ngClass]="{
                  'invalid-input': pagadorCedula.dirty && pagadorCedula.invalid
                }"
                  type="text"
                  id="cedula_titular"
                  class="form-control"
                  placeholder="Cédula"
                  name="cedula_titular"
                  formControlName="cedula"
                  mask="separator.2"
                  thousandSeparator="."
                />
              </div> -->
              <div class="m-b15 input-group input-lg input-rounded">
                <select
                  [ngClass]="{'invalid-input': titularGenero.invalid && (titularGenero.dirty || titularGenero.touched)}"
                  id="genero_titular"
                  class="form-control"
                  name="genero_titular"
                  formControlName="genero"
                  title="Seleccione Género"
                >
                  <option [value]="null">Seleccione Género</option>
                  @for(genero of generosOptions; track $index) {
                  <option [value]="genero.id_parentesco">
                    {{genero.sexo}}
                  </option>
                  }
                </select>
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <select
                  [ngClass]="{'invalid-input': titularEstadoCivil.invalid && (titularEstadoCivil.dirty || titularEstadoCivil.touched)}"
                  id="estado_civil_titular"
                  class="form-control"
                  name="estado_civil_titular"
                  formControlName="estadoCivil"
                  title="Seleccione Estado Civil"
                >
                  <option [value]="null">Seleccione Estado Civil</option>
                  @for(estadoCivil of estadoCivilOptions; track $index) {
                  <option [value]="estadoCivil.id_estado_civil">
                    {{estadoCivil.estado_civil1}}
                  </option>
                  }
                </select>
              </div>
           
              <div class="m-b15 input-group input-lg input-rounded">
                <div class="dropdown w-100">
                  <input
                    [ngClass]="{'invalid-input': titularEstado.invalid && (titularEstado.dirty || titularEstado.touched)}"
                    type="text"
                    id="estado_titular"
                    class="form-control"
                    placeholder="Estado"
                    name="estado_titular"
                    formControlName="estado"
                    [ngClass]="{'dropdown-toggle': true}"
                    data-bs-toggle="dropdown"
                    autocomplete="off"
                    (input)="filterEstados($event, 'titular')"
                  />
                  <ul class="dropdown-menu w-100">
                    @for(estado of filteredEstadosOptions; track
                    estado.id_estado) {
                    <li>
                      <a
                        class="dropdown-item"
                        (click)="selectEstado(estado, 'titular')"
                        >{{estado.estado1}}</a
                      >
                    </li>
                    } @if(filteredEstadosOptions.length === 0) {
                    <li>
                      <a class="dropdown-item"
                        >Escribe para buscar, sin resultados</a
                      >
                    </li>
                    }
                  </ul>
                </div>
              </div>

              <div class="m-b15 input-group input-lg input-rounded">
                <div class="dropdown w-100">
                  <input
                    [ngClass]="{'invalid-input': titularCiudad.invalid && (titularCiudad.dirty || titularCiudad.touched)}"
                    type="text"
                    id="ciudad_titular"
                    class="form-control"
                    placeholder="Ciudad"
                    name="ciudad_titular"
                    formControlName="ciudad"
                    [ngClass]="{'dropdown-toggle': true}"
                    data-bs-toggle="dropdown"
                    autocomplete="off"
                    (input)="filterCiudades($event, 'titular')"
                  />
                  <ul class="dropdown-menu w-100">
                    @for(ciudad of filteredCiudadesOptions; track
                    ciudad.id_ciudad) {
                    <li>
                      <a
                        class="dropdown-item"
                        (click)="selectCiudad(ciudad, 'titular')"
                        >{{ciudad.ciudad1}}</a
                      >
                    </li>
                    } @if(filteredCiudadesOptions.length === 0) {
                    <li>
                      <a class="dropdown-item"
                        >Escribe para buscar, sin resultados</a
                      >
                    </li>
                    }
                  </ul>
                </div>
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <input
                  [ngClass]="{'invalid-input': titularDireccion.invalid && (titularDireccion.dirty || titularDireccion.touched)}"
                  type="text"
                  id="direccion_titular"
                  class="form-control"
                  placeholder="Dirección Titular"
                  name="direccion_titular"
                  formControlName="direccion"
                />
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <input
                  [ngClass]="{'invalid-input': titularEmail.invalid && (titularEmail.dirty || titularEmail.touched)}"
                  type="email"
                  id="email_titular"
                  class="form-control"
                  placeholder="Email"
                  name="email_titular"
                  formControlName="email"
                />
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <input
                  [ngClass]="{'invalid-input': titularTelefono.invalid && (titularTelefono.dirty || titularTelefono.touched)}"
                  type="tel"
                  id="telefono_titular"
                  class="form-control"
                  placeholder="Teléfono"
                  name="telefono_titular"
                  formControlName="telefono"
                  mask="(999) 999-9999"
                  prefix="+58 "
                  inputmode="numeric"
                />
              </div>
            </div>
          </div>
          }
          <div class="card style-2" formGroupName="vehiculo">
            <div class="card-header">
              <h6 class="card-title">Datos del Vehículo</h6>
            </div>
            <div class="card-body">
              <div class="m-b15 input-group input-lg input-rounded">
                <div class="dropdown w-100">
                  <input
                    [ngClass]="{'invalid-input': vehiculoMarca.invalid && (vehiculoMarca.dirty || vehiculoMarca.touched)}"
                    type="text"
                    id="marca"
                    class="form-control"
                    placeholder="Marca"
                    name="marca"
                    formControlName="marca"
                    [ngClass]="{'dropdown-toggle': true}"
                    data-bs-toggle="dropdown"
                    autocomplete="off"
                    (input)="filterMarcas($event)"
                  />
                  <ul class="dropdown-menu w-100">
                    @for(marca of filteredMarcasOptions; track marca.id_marca) {
                    <li>
                      <a class="dropdown-item" (click)="selectMarca(marca)"
                        >{{marca.marca1}}</a
                      >
                    </li>
                    } @if(filteredMarcasOptions.length === 0) {
                    <li>
                      <a class="dropdown-item"
                        >Escribe para buscar, sin resultados</a
                      >
                    </li>
                    }
                  </ul>
                </div>
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <div class="dropdown w-100">
                  <input
                    [ngClass]="{'invalid-input': vehiculoModelo.invalid && (vehiculoModelo.dirty || vehiculoModelo.touched)}"
                    type="text"
                    id="modelo"
                    class="form-control"
                    placeholder="Modelo"
                    name="modelo"
                    formControlName="modelo"
                    [ngClass]="{'dropdown-toggle': true}"
                    data-bs-toggle="dropdown"
                    autocomplete="off"
                    (input)="filterModelos($event)"
                  />
                  <ul class="dropdown-menu w-100">
                    @for(modelo of filteredModelosOptions; track
                    modelo.id_modelo) {
                    <li>
                      <a class="dropdown-item" (click)="selectModelo(modelo)"
                        >{{modelo.modelo1}}</a
                      >
                    </li>
                    } @if(filteredModelosOptions.length === 0) {
                    <li>
                      <a class="dropdown-item"
                        >Escribe para buscar, sin resultados</a
                      >
                    </li>
                    }
                  </ul>
                </div>
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <div class="dropdown w-100">
                  <input
                    [ngClass]="{'invalid-input': vehiculoVersion.invalid && (vehiculoVersion.dirty || vehiculoVersion.touched)}"
                    type="text"
                    id="version"
                    class="form-control"
                    placeholder="Versión"
                    name="version"
                    formControlName="version"
                    [ngClass]="{'dropdown-toggle': true}"
                    data-bs-toggle="dropdown"
                    autocomplete="off"
                    (input)="filterVersiones($event)"
                  />
                  <ul class="dropdown-menu w-100">
                    @for(version of filteredVersionesOptions; track
                    version.id_version) {
                    <li>
                      <a class="dropdown-item" (click)="selectVersion(version)"
                        >{{version.version1}}</a
                      >
                    </li>
                    } @if(filteredVersionesOptions.length === 0) {
                    <li>
                      <a class="dropdown-item"
                        >Escribe para buscar, sin resultados</a
                      >
                    </li>
                    }
                  </ul>
                </div>
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <div class="dropdown w-100">
                  <input
                    [ngClass]="{'invalid-input': vehiculoAnio.invalid && (vehiculoAnio.dirty || vehiculoAnio.touched)}"
                    type="text"
                    id="anio"
                    class="form-control"
                    placeholder="Año"
                    name="anio"
                    formControlName="anio"
                    [ngClass]="{'dropdown-toggle': true}"
                    data-bs-toggle="dropdown"
                    autocomplete="off"
                    (input)="filterAnios($event)"
                  />
                  <ul class="dropdown-menu w-100">
                    @for(anio of filteredAniosOptions; track anio.id_valor) {
                    <li>
                      <a class="dropdown-item" (click)="selectAnio(anio)"
                        >{{anio.anno}}</a
                      >
                    </li>
                    } @if(filteredAniosOptions.length === 0) {
                    <li>
                      <a class="dropdown-item"
                        >Escribe para buscar, sin resultados</a
                      >
                    </li>
                    }
                  </ul>
                </div>
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <div class="dropdown w-100">
                  <input
                    [ngClass]="{'invalid-input': vehiculoColor.invalid && (vehiculoColor.dirty || vehiculoColor.touched)}"
                    type="text"
                    id="color"
                    class="form-control"
                    placeholder="Color"
                    name="color"
                    formControlName="color"
                    [ngClass]="{'dropdown-toggle': true}"
                    data-bs-toggle="dropdown"
                    autocomplete="off"
                    (input)="filterColores($event)"
                  />
                  <ul class="dropdown-menu w-100">
                    @for(color of filteredColoresOptions; track color.id_color)
                    {
                    <li>
                      <a class="dropdown-item" (click)="selectColor(color)"
                        >{{color.color1}}</a
                      >
                    </li>
                    } @if(filteredColoresOptions.length === 0) {
                    <li>
                      <a class="dropdown-item"
                        >Escribe para buscar, sin resultados</a
                      >
                    </li>
                    }
                  </ul>
                </div>
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <input
         
                  type="text"
                  id="placa"
                  class="form-control"
                  placeholder="Placa"
                  name="placa"
                  formControlName="placa"
                  (input)="formatPlaca($event)"
                />
              </div>
              <div class="m-b15 input-group input-lg input-rounded">
                <input
                  [ngClass]="{'invalid-input': vehiculoSerial.invalid && (vehiculoSerial.dirty || vehiculoSerial.touched)}"
                  type="text"
                  id="serial"
                  class="form-control"
                  placeholder="Serial"
                  name="serial"
                  formControlName="serial"
                />
              </div>
            </div>
          </div>

          <div class="footer-btn mb-4">
            <button
             (click)="verifyPlate()"
              class="btn btn-lg btn-thin btn-secondary text-primary w-100 rounded-xl"
            >
              Continuar
            </button>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>

<div class="toast-container" id="toastContainer"></div>
