<div class="overflow-auto">
  <div class="page-wrapper">
    <!-- Header -->
    <header class="header header-fixed style-1">
      <div class="header-content">
        <div class="left-content"></div>
        <div class="mid-content"><h5 class="title">Inicio</h5></div>
      </div>
    </header>
    <!-- Header -->
    @if(showLoading){
    <app-spinner />
    }
    <!-- Main Content Start -->
    <main class="page-content space-top p-b70">
      <div class="container p-tb10 px-2">
        <div class="profile-area">
          <div class="ic-box style-3 m-b10">
            <div class="main-profile">
              <div class="media">
                <div class="media-40 user-image">
                  <img
                    src="../../../../assets/imagenes/icon/favicon.png"
                    alt="profile-image"
                  />
                </div>
                <div>
                  <h4 class="name mb-0">¡Hola, {{username}}!</h4>
                  <small>Miembro de: <strong>{{membershipName}}</strong></small>
                </div>
              </div>
            </div>
            <div class="ic-list m-b20">
              <ul class="ic-list-group">
                <li class="list-group-items">
                  <a class="item-link-active">
                    <div class="ic-icon">
                      <i class="fa-solid fa-dollar-sign"></i>
                    </div>
                    <div class="list-content">
                      <h6 class="title">Saldo disponible</h6>
                      <p class="active-status">
                        {{ isHidden ? '********' : `${+amountTotal |
                        formatCurrency}` }} Bs
                      </p>
                    </div>
                    <i
                      class="fa-solid"
                      [ngClass]="isHidden ? 'fa-eye-slash' : 'fa-eye'"
                      (click)="toggleVisibility($event)"
                    >
                    </i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="text-none-info">
              <h6 class="mb-3">Comercios disponibles</h6>

            </div>

            <div class="box-sing-commerce">
              <div class="box-commerce">
                <div class="chat-list">
                  <ul>
                    @for(x of commerce_data; track $index){
            
                    <li
                      (click)="routingPage(x)"
                    >
                      <a class="list-items">
                        <div class="ic-media">
                          <img
                            src="../../../../assets/imagenes/icon/favicon.png"
                            alt=""
                          />
                        </div>
                        <div class="list-content">
                          <h5 class="title">{{x.commerce_description}}</h5>
                          <span class="ic-text">{{x.commerce_code}}</span>
                        </div>
                      </a>
                    </li>
                  }
               
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <app-tab />
  </div>
</div>
