<div class="overflow-auto">
  <div class="page-wrapper">
    <!-- Header -->
    <header class="header header-fixed style-1">
      <div class="header-content">
        <div class="left-content">
          <a
            [routerLink]="['/admin/dashboard/sarys']"
            class="back-btn ic-icon icon-sm"
          >
            <i class="feather icon-arrow-left"></i>
          </a>
        </div>
        <div class="mid-content"><h5 class="title">Escoge tu plan</h5></div>
        <div class="right-content"></div>
      </div>
    </header>
    <!-- Header -->

    <!-- Main Content Start -->
    <main class="page-content space-top p-b70">
      <div class="container px-2">
        <div class="row g-2">
          <div class="col-12 ic-card-remove">
            <div class="ic-card style-2">
              <div class="financiamiento-label">Financiamiento hasta $300</div>
              <div class="ic-content">
                <div class="inner-content">
                  <div class="left-content">
                    <h6 class="title"><a>Club Básico</a></h6>
                    <div class="ic-price">
                      <span class="name">Precio</span>
                      <h2 class="price text-color-font">$17/año</h2>
                    </div>
                  </div>
                  <div class="right-content">
                    <div class="ic-media">
                      <a>
                        <img
                          src="../../../../assets/imagenes/icon/logo.png"
                          alt="Logo"
                        />
                      </a>
                    </div>
                  </div>
                </div>
                <a
                  (click)="onSubmit(detail_basico)"
                  class="btn px-3 btn-thin rounded btn-primary text-secondary border-2 w-100"
                  >Adquirir</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 ic-card-remove">
            <div class="ic-card style-2">
              <div class="financiamiento-label">Financiamiento hasta $300</div>
              <div class="ic-content">
                <div class="inner-content">
                  <div class="left-content">
                    <h6 class="title"><a>Club Gold</a></h6>
                    <div class="ic-price">
                      <span class="name">Precio</span>
                      <h2 class="price text-color-primary">$55/año</h2>
                    </div>
                  </div>
                  <div class="right-content">
                    <div class="ic-media">
                      <a>
                        <img
                          src="../../../../assets/imagenes/icon/logo.png"
                          alt="Logo"
                        />
                      </a>
                    </div>
                  </div>
                </div>

                <a
                  (click)="onSubmit(detail_gold)"
                  class="btn px-3 btn-thin rounded btn-primary text-secondary border-2 w-100"
                  >Adquirir</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 ic-card-remove">
            <div class="ic-card style-2">
              <div class="financiamiento-label">Financiamiento hasta $300</div>
              <div class="ic-content">
                <div class="inner-content">
                  <div class="left-content">
                    <h6 class="title"><a>Club Diamante</a></h6>
                    <div class="ic-price">
                      <span class="name">Precio</span>
                      <h2 class="price text-diamon">$105/año</h2>
                    </div>
                  </div>
                  <div class="right-content">
                    <div class="ic-media">
                      <a>
                        <img
                          src="../../../../assets/imagenes/icon/logo.png"
                          alt="Logo"
                        />
                      </a>
                    </div>
                  </div>
                </div>
                <a
                  (click)="onSubmit(detail_diamond)"
                  class="btn px-3 btn-thin rounded btn-primary text-secondary border-2 w-100"
                  >Adquirir</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 ic-card-remove">
            <div class="ic-card style-2">
              <div class="financiamiento-label">Financiamiento hasta $150</div>
              <div class="ic-content">
                <div class="inner-content">
                  <div class="left-content">
                    <h6 class="title"><a>Club Motos</a></h6>
                    <div class="ic-price">
                      <span class="name">Precio</span>
                      <h2 class="price text-dark">$15/año</h2>
                    </div>
                  </div>
                  <div class="right-content">
                    <div class="ic-media">
                      <a>
                        <img
                          src="../../../../assets/imagenes/icon/logo.png"
                          alt="Logo"
                        />
                      </a>
                    </div>
                  </div>
                </div>
                <a
                  (click)="onSubmit(details_moto)"
                  class="btn px-3 btn-thin rounded btn-primary text-secondary border-2 w-100"
                  >Adquirir</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 ic-card-remove">
            <div class="ic-card style-2">
              <div class="financiamiento-label">Financiamiento hasta $300</div>
              <div class="ic-content">
                <div class="inner-content">
                  <div class="left-content">
                    <h6 class="title"><a>Club Carga</a></h6>
                    <div class="ic-price">
                      <span class="name">Precio</span>
                      <h2 class="price text-carga">$35/año</h2>
                    </div>
                  </div>
                  <div class="right-content">
                    <div class="ic-media">
                      <a>
                        <img
                          src="../../../../assets/imagenes/icon/logo.png"
                          alt="Logo"
                        />
                      </a>
                    </div>
                  </div>
                </div>
                <a
                  (click)="onSubmit(deatails_carga)"
                  class="btn px-3 btn-thin rounded btn-primary text-secondary border-2 w-100"
                  >Adquirir</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
