.item-link-active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease-in-out;
  text-decoration: none;
  width: 100%;
  margin-bottom: 20px;

  &:hover {
    background-color: #f5f5f5;
  }

  .ic-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    color: #fff;
    border-radius: 20%;
    font-size: 17px;
  }

  .list-content {
    flex-grow: 1; // Expande el contenido
    margin-left: 5px;

    .title {
      font-size: 16px;
      font-weight: bold;
      color: #333;
    }

    .active-status {
      font-size: 14px;
      color: #777;
    }
  }

  .fa-eye {
    color: #615f5f;
    font-size: 18px;
  }
}

.border-rounded{
  border: 1px solid #acacac !important;
  padding: 10px;
}

.transparent{
  background-color: transparent !important;
}

.text-dark{
  color: #000;
  font-size: 14px;
}
  
  .border-rounded{
    border: 1px solid #acacac !important;
    padding: 10px;
  }

  .invalid-input{
    border: 2px solid red !important;
}

.text-information{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px;
}

.info-text{
  color: #949393;
  font-size: 14px;
}


.text-dark{
  color: #000 !important;
}

.text-none-info{
    text-align: center;
}

.border-rounded-2{
  border: 1px solid #dddada !important;
  padding: 10px;
  border-radius: 15px;
}

.payment{
  float: right;
  justify-content: space-between;
}

.btn-group-lasted{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 12px;
}