.border-rounded{
    border: 1px solid #acacac !important;
    padding: 10px;
  }

  .error{
    text-align: center;
    margin: 20px;
    color: red;
    font-size: 14px;
    font-weight: 500;
  }

  .font{
    font-size: 9px;
  }

  .mrg{
    margin: 10px;
  }