@import "../assets/css/style.css";
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/lufga");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800&display=swap");

.toast-container {
  position: fixed !important;
  top: 16px !important;
  right: 16px !important;
  z-index: 9999 !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 8px !important;
}

.toast-error {
  background-color: #f44336;
  color: #fff;
  padding: 12px 24px;
  z-index: 9999;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease, fadeOut 0.5s ease 2.5s forwards;
}

.toast-success {
  background-color: #4caf50;
  color: #fff;
  z-index: 9999;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease, fadeOut 0.5s ease 2.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%) !important;
    opacity: 0 !important;
  }
  to {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0 !important;
    transform: translateX(100%) !important;
  }
}

.toast-icon {
  font-size: 16px !important;
  margin-left: 8px !important;
}

.invalid-input {
  border: 2px solid red !important;
  background-color: #f8d7da;
}

.input-error {
  border: 2px solid red;
}
.input-success {
  border: 2px solid rgb(57, 225, 57);
}
.no-select {
  user-select: none;
}

.financiamiento-label {
  width: 100%;
  max-width: 150px;
  float: right;
  background: linear-gradient(45deg, #000000, #000000);
  color: var(--primary);
  margin-top: 15px;
  bottom: 0;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 8px;
  text-align: center;
  transform: rotate(10deg);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
