<div>
<div class="page-wrapper">

	<!-- Header -->
	<header class="header header-fixed style-1">
		<div class="header-content">
			<div class="left-content">
				<a [routerLink]="['/']" class="back-btn ic-icon icon-sm">
					<i class="feather icon-arrow-left"></i>
				</a>
			</div>
			<div class="mid-content"><h5 class="title">Error</h5></div>
			<div class="right-content"></div>
		</div>
	</header>
	<!-- Header -->
	
	<!-- Page Content Start -->
	<div class="page-content space-top">
		<div class="container">
			<div class="error-page">
				<div class="icon-bx">
					<img src="assets/images/error2.svg" alt="">
				</div>
				<div class="clearfix">
					<h2 class="title text-primary">Lo siento</h2>
					<p>Pagina no encontrada.</p>
				</div>
			</div>
			<div class="error-img">
				<img src="assets/images/error.png" alt="">
			</div>
		</div>
	</div>
	<!-- Page Content End -->
</div>  
</div>
