.icon-svg{
    width: 30px !important;
    height: 30px !important;
    margin-right: 10px !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip:hover::after {
    content: attr(title); /* Utiliza el atributo title para el contenido */
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    bottom: 120%; /* Ajusta la posición del tooltip */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
    z-index: 10;
    opacity: 1;
  }
  
  .tooltip:hover::before {
    content: "";
    position: absolute;
    bottom: 110%; /* Ajusta la posición de la flecha */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    opacity: 1;
  }
  