.page-content {
  .container {
    height: 100vh;
    .digit-group {
      max-width: 100%;
    }
    .bottom-btn.mt-auto {
      padding-bottom: 8em;
    }
  }
}

.form-control {
  padding: 0;
  font-size: 1em;
}
