<div class="overflow-auto">
  <div class="page-wrapper">
    @if(showSpinner){
    <app-spinner />
    }
    <!-- Header -->
    <header class="header header-fixed style-1">
      <div class="header-content">
        <div class="left-content">
          <a
            [routerLink]="['/admin/subscription-payment']"
            class="back-btn ic-icon icon-sm"
          >
            <i class="feather icon-arrow-left"></i>
          </a>
        </div>
        <div class="mid-content"><h5 class="title">Pagar servicio</h5></div>
      </div>
    </header>
    <!-- Header -->
    <main class="page-content">
      <div class="container pt-0 overflow-hidden">
        <div class="ic-authentication-area ic-flex-box">
          <div class="logo-area">
            <img src="../../../../assets/imagenes/icon/logo.png" alt="" />
          </div>
          <div class="account-section text-center">
            <div class="section-head text-center">
              <h3 class="title px-2">Ingresa el código enviado a</h3>
              <p class="text-num">{{numberContact}}</p>
            </div>
            <form
              [formGroup]="otpForm"
              (ngSubmit)="onSubmit()"
              class="ic-form-group"
            >
              <div id="otp" class="digit-group input-lg">
                <input
                  *ngFor="let control of otpForm.controls | keyvalue; let i = index"
                  class="form-control"
                  type="text"
                  inputmode="numeric"
                  [formControlName]="control.key"
                  maxlength="1"
                  (input)="onOtpInput($event, i)"
                  #otpInput
                />
              </div>
  
              <div class="bottom-btn mt-auto">
                <button
                  type="submit"
                  class="btn btn-secondary text-primary btn-thin btn-lg w-100 rounded-xl"
                  [disabled]="!otpForm.valid"
                >
                  Verificar y proceder
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<div class="toast-container" id="toastContainer-paymentOTP"></div>
