<div class="body-bg2">
  <div class="page-wrapper full-height">
    <main class="page-content">
      <div class="container pt-0 overflow-hidden">
        <div class="ic-authentication-area ic-flex-box">
          <!-- Top Area  -->
          <a class="text-link font-w300 text-underline text-end p-3"></a>
          <a class="text-link font-w300 text-underline text-end p-3"></a>
          <a class="text-link font-w300 text-underline text-end p-3"></a>
          <a class="text-link font-w300 text-underline text-end p-3"></a>
          <a class="text-link font-w300 text-underline text-end p-3"></a>
          <!-- Top Area  -->
          @if(showSpinner){
          <app-spinner />
          }
          <!-- <div class="account-section">
            <div class="section-head">
              <h3 class="title">Estatus de la Cuenta</h3>
              <p>
                Completa el formulario para averiguar si ya tienes un vehículo
                registrado para gozar de nuestros servicios.
              </p>
            </div>
            <form class="ic-form-group" [formGroup]="FormVerify">
              <div
                class="m-b15 input-group input-lg input-group-icon input-rounded"
              >
                <div class="input-group-text">
                  <div class="input-icon">
                    <svg
                      width="28"
                      height="28"
                      viewBox="0 0 28 28"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M7 2H17L23 8V24C23 25.1 22.1 26 21 26H7C5.9 26 5 25.1 5 24V4C5 2.9 5.9 2 7 2Z"
                        fill="black"
                        fill-opacity="0.25"
                      />
                      <path
                        d="M17 2V8H23"
                        stroke="black"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M9 12H19"
                        stroke="black"
                        stroke-linecap="round"
                      />
                      <path
                        d="M9 16H19"
                        stroke="black"
                        stroke-linecap="round"
                      />
                      <path
                        d="M9 20H15"
                        stroke="black"
                        stroke-linecap="round"
                      />
                    </svg>
                  </div>
                </div>
                <input
                type="text"
                formControlName="placa"
                (input)="formatPlaca($event)"
                class="form-control"
                placeholder="Placa del vehículo"
              />
              
              </div>
            </form>
          </div> -->
          <!-- <div class="bottom-btn mt-auto">
            <a
              (click)="onSubmit()"
              class="btn btn-primary btn-thin btn-lg w-100 rounded-xl"
              >Verificar</a
            >
          </div> -->

          <br /><br /><br /><br />
        </div>
      </div>
    </main>
  </div>
</div>

<div class="toast-container" id="toastContainer"></div>
